body {
    background-color: #ffffff;
    font-family: "DM Sans", sans-serif;
    color: #683531;
}


/*! formato de texto 1 TheFarmerTextured*/

@font-face {
    font-family: 'TheFarmerTextured';
    src: url('../../../assets/fonts/TheFarmerTextured.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

h2 {
    font-family: 'TheFarmerTextured', serif;
    font-size: 3.5rem
}

.section-title {
      font-size: 90px;
        font-family: 'TheFarmerTextured', serif;
        text-align: center;
}
.section-titlee { /*h2 de productos*/
    font-size: 90px; /* Cambia el valor al tamaño que quieras */
}

.selectable-list {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem
}

.category-name {
    font-family: "DM Sans Black", sans-serif;
    font-weight: 1500;
    font-size: 30rem;
}

/*borde de coleccion activa*/
.category.active {
    outline: 2px solid #A0191E;
    border-radius: 5%;
}

/*para filtro de barra lateral*/
.selectable-list a.active {
    font-weight: bold;
    text-decoration: underline;
}


